<div class="cover-page">
  <div class="welcome-message">
    <h1>Bienvenido a <strong>la polla de Mundial 2018</strong></h1>
  </div>
  <form class="home-form">
    <div class="form-title">
      Ingresar
    </div>
    <div class="login-inputs">
      <div class="username-input">
        <label class="" for="exampleInputEmail3">Usuario</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="username-input">
        <label class="" for="exampleInputEmail3">Contraseña</label>
        <input type="password" class="form-control" id="" placeholder="">
      </div>
    </div>
    <button type="submit" class="btn btn-default login-buttons">Ingresar</button>
    <button type="submit" class="btn btn-default login-buttons facebook-button">Ingresar con facebook</button>
  </form>
</div>