<div class="cover-page">
  <div class="welcome-message">
    <h1>Bienvenido a <strong>Bet Colombia</strong></h1>
  </div>
  <form class="home-form" >
    <div class="form-title">
      Ingresar
    </div>
    <div class="login-inputs">
      <div class="username-input">
        <label class="" for="exampleInputEmail4">Usuario</label>
        {{input type="text" value=username class="form-control" id="exampleInputEmail4"}}
      </div>
      <div class="username-input">
        <label class="" for="exampleInputEmail3">Contraseña</label>
        {{input type="password" value=password class="form-control" id="exampleInputEmail3"}}
      </div>
    </div>
    
  </form>
  <div class="login-buttons-div">
    <button class="btn btn-default login-buttons" onClick={{action "authenticate"}}>Ingresar</button>
    <button class="btn btn-default login-buttons facebook-button" onClick={{action "faceAuthenticate"}}>Ingresar con facebook</button>
  </div>
</div>